name: Run app.py

on:
  workflow_dispatch:

jobs:
  run-app:
    runs-on: ubuntu-latest

    steps:
      #1. Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v4


      #2. Setup python
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"


      #3. Install dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt


      #4. Develop Branch
      - name: run in Develop
        run: python app.py